<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css')}}" />
      <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="icon" />

      {% if title %}
          <title>Iris Lane - {{ title }}</title>
      {% else %}
          <title>Iris Lane</title>
      {% endif %}

  </head>
  <body style="background-color: #f2f2f2;">

    <main role="main" class="container-fluid">
      <div class="row">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Stellarium Bot</div>
            <div class="list-group-flush">
              <a href="{{ url_for('home') }}" class="list-group-item list-group-item-dark list-group-item-action">Dashboard</a>
              <a href="{{ url_for('cmds') }}" class="list-group-item list-group-item-dark list-group-item-action">Commandes</a>
              <a href="#" class="list-group-item list-group-item-dark list-group-item-action">Variables</a>
              <a href="#" class="list-group-item list-group-item-dark list-group-item-action">Paramètres</a>
              <a href="#" class="list-group-item list-group-item-dark list-group-item-action">Documentation</a>
            </div>
          </div>
        <div class="col pt-2">
          {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
